# Rust
/target
main

# Demo File
demo/src/lib.cairo
demo/fib.ll

# Generated LLVM IR Input Files
crates/compiler/input/compilation/alloc.ll
crates/compiler/input/compilation/compiler_builtins.ll
crates/compiler/input/compilation/core.ll
crates/compiler/input/compilation/hieratika_rust_test_input.ll

# Tooling
.idea/
.vscode/
node_modules/
result

# Linting and Formatting
package-lock.json
.husky/_
compiler-rt/target

# Heiratika itself
*.flo
